@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

.overlay-text h1 {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: rgb(113, 80, 8);
    /* Choose a color that stands out against your background */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    /* This adds a shadow for better readability */
    font-size: 3rem;
    animation: bounceIn 1s ease;
}



.hero-section {
    position: relative;
    text-align: center;
}

.background-image {
    height: 400px;
    /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
}

.overlay-text {
    color: rgb(216, 160, 39);
    /* Or any color that contrasts well with your background */
    font-size: 2.5rem;
    /* Adjust the size as needed */
    padding: 20px;
    /* Adjust padding as needed */
    opacity: 0;
    /* Start with 0 opacity */
    transition: opacity 1s ease-in-out;
    /* Add a transition effect */
}

.overlay-text.fade-in {
    opacity: 1;
    /* Set opacity to 1 for the fade-in effect */
}